:root {
  --color1: rgba(22, 186, 197, 1);
  --color2: rgba(95, 191, 249, 1);
  --color3: rgba(239, 233, 244, 1);
  --color4: rgba(23, 29, 28, 1);
  --color5: rgba(88, 99, 248, 1); 
}

.todo-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

body {
  background-color: var(--color2);
}

h4 {
  width: 200px;
  height: 124px;
  border: 2px solid var(--color4);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4:hover {
  background-color: var(--color5);
}

.complete {
  text-decoration: line-through;
  color: var(--color2);
  background-color: var(--color5);
}

.incomplete {
  color: var(--color1);
  background-color: var(--color3);
}

input {
  margin: 20px;
  width: 230px;
  max-width: 80%;
}

form {
  border: 2px solid var(--color4);
  border-radius: 8px;
  background-color: var(--color1);
  padding: 15px;
  margin-left: 150px;
  margin-right: 150px;
}

h1 {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}

.side-bar {
  background-color: var(--color1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  border-bottom: 2px solid var(--color4);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  padding: 10px;
}

.logout {
  background-color: maroon;
  color: var(--color3);
}

a {
  margin: 5px;
}

.intro {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .side-bar {
    width: 70px;
    height: 100%;
    border-right: 2px solid var(--color4);
    flex-direction: column;
    justify-content: left;
  }

  .todo-list {
    margin-top: 20px;
  }
}
